/* Base styling for the car card */
.card {
  background: linear-gradient(45deg, #2e2a2a, #061581);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 95%;
  color: white;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

/* Title styling */
.title {
  margin-bottom: 20px;
  font-size: 28px;
  text-transform: uppercase;
  color: #22ABC3;
  text-align: center;
}

/* Image styling */
.image {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.image:hover {
  transform: scale(1.1);
}

/* Content styling */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.specs {
  flex-grow: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  letter-spacing: 1px;
}

.hr {
  width: 80%;
  margin: 10px 0;
  border-top: 1px solid #fff;
}

.desc {
  font-weight: bold;
  letter-spacing: 1px;
}

/* Right section styling */
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #64cadc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 20px 0;
}

.right h2, .right p {
  margin: 0;
  color: #515151;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}

/* Responsive design adjustments */
@media screen and (min-width: 1024px) {
  .content {
    flex-direction: row;
    align-items: flex-start;
  }

  .specs {
    margin-right: 20px;
    align-items: flex-start;
  }

  .right {
    width: 35%;
    height: auto;
    margin: auto;
  }
}

@media screen and (max-width: 1023px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .specs {
    margin-right: 0;
    align-items: center;
  }

  .right {
    width: 100%;
    height: auto;
    margin-top: 20px;
    box-shadow: none;
  }
}

@media screen and (max-width: 768px) {
  .image {
    width: 80%;
  }

  .title {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .image {
    width: 70%;
  }

  .title {
    font-size: 20px;
  }

  .specs p {
    font-size: 14px;
  }

  .desc {
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  .image {
    width: 60%;
  }

  .title {
    font-size: 18px;
  }

  .specs p {
    font-size: 12px;
  }

  .desc {
    font-size: 12px;
  }

  .card {
    padding: 15px;
  }

  .right {
    padding: 15px;
  }
}

/* Contact link styling */
.contact a {
  text-decoration: none;
  color: inherit;
}
